@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reg-input,
  .login-input {
    @apply text-black font-light bg-transparent border border-gray-400 text-opacity-50 block pl-4 py-2.5 mt-3 focus:outline-none rounded-lg w-full;
  }
}

@layer utilities {
  .first-section-text {
    text-shadow: 1px 1px #000000;
  }
  .footer {
    width: 100%;
    padding: 45px 130px;
    color: white;
    background-color: #04081f;
    font-family: "Alata", sans-serif;
    display: block;
  }
  .mob--footer {
    width: 100%;
    padding: 45px 130px;
    color: white;
    background-color: black;
    font-family: "Alata", sans-serif;
    display: none;
  }
  .logo--div {
    width: 100%;
    display: flex;
  }
  .logo--div > h1 {
    margin-right: auto;
  }
  .logo--cont {
    display: inline;
  }
  .logo--cont > img {
    margin: 0 10px;
    padding: 5px 0;
    border-bottom: 2px solid black;
  }
  .logo--cont > img:hover {
    border-bottom: 2px solid white;
  }
  .copy--div {
    width: 100%;
    display: flex;
    margin-top: 20px;
  }
  .copy--div > ul {
    list-style: none;
    margin-right: auto;
    display: flex;
  }
  .copy--div > ul > li {
    margin: 0 15px;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid black;
  }
  .copy--div > ul > li:hover {
    border-bottom: 2px solid white;
  }
  .copy--div > p {
    color: hsl(0, 0%, 55%);
  }

  @media (max-width: 1025px) {
    .footer {
      width: 100%;
      padding: 45px 130px;
      color: white;
      background-color: black;
      font-family: "Alata", sans-serif;
      display: none;
    }
    .mob--footer {
      width: 100%;
      padding: 55px 0px;
      color: white;
      background-color: black;
      font-family: "Alata", sans-serif;
      display: block;
      text-align: center;
    }
    .logo--div {
      width: 100%;
      display: block;
    }
    .logo--div > h1 {
      margin-right: auto;
    }
    .logo--cont {
      display: inline;
    }
    .logo--cont > img {
      margin: 0 10px 20px;
      padding: 5px 0;
      border-bottom: 2px solid black;
    }
    .logo--cont > img:hover {
      border-bottom: 2px solid white;
    }
    .copy--div {
      width: 100%;
      display: block;
      margin-top: 20px;
    }
    .logo--div > ul {
      list-style: none;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      display: block;
    }
    .logo--div > ul > li {
      width: fit-content;
      margin: 0 auto;
      padding: 10px 0;
      cursor: pointer;
      border-bottom: 2px solid black;
    }
    .logo--div > ul > li:hover {
      border-bottom: 2px solid white;
    }
    .logo--div > p {
      color: hsl(0, 0%, 55%);
    }
  }
}
